@model KinHelper.Web.Controllers.RosterViewModel

@{
    ViewBag.Title = Model.Name + " Roster";
}

<h2>@Model.Name</h2>

@Html.ActionLink("Update Roster","RefreshRoster",new {id=Model.Id})

@Html.ActionLink("Load Users","LoadPlayers",new {id=Model.Id})

@Html.ActionLink("Reload Users", "LoadPlayers", new { id = Model.Id, reload=true })

<table>
    <thead>
        <tr>
            <th>User Id</th> 
            <th>User Name</th> 
            <th>Name</th> 
            <th>Level</th> 
            <th>Class</th> 
            <th>Race</th> 
            <th>Rank</th> 
            <th>Last Activity</th> 
        </tr>
    </thead>
    <tbody>
        @{
            var even = true;
        }
        @foreach (var userId in Model.Members
            .Where(x => x.Character.User != null)
            .OrderBy(x => x.Rank.Id)
            .ThenByDescending(x => x.Character.Level)
            .Select(x => x.Character.User.HiddenId)
            .Distinct())
        {
            var characters = Model.Members.Where(x => x.Character.User != null && x.Character.User.HiddenId == userId)
                .OrderBy(x => x.Rank.Id)
                .ThenByDescending(x => x.Character.Level).ToList();
            var first = true;
            foreach (var member in characters)
            {
                if (first)
                {
                    first = false;
                    @Html.Partial("RosterMember", member, new ViewDataDictionary { { "Even", even },{"Span",characters.Count} })    
                }
                else
                {
                    @Html.Partial("RosterMember", member, new ViewDataDictionary { { "Even", even },{"Span", 0} })    
                }
            }
            even = !even;
        }
        @foreach (var member in Model.Members.Where(x => x.Character.User == null)
            .OrderBy(x => x.Rank.Id)
            .ThenByDescending(x => x.Character.Level))
        {
            @Html.Partial("RosterMember", member, new ViewDataDictionary { { "Even", even }, { "Span", 1 } })
            even = !even;
        }
    </tbody>
</table>