@model KinHelper.Model.Entities.KinshipMember
@{
    var span = (int?) ViewData["Span"];
}
<tr class=@((bool) ViewData["Even"]? "even" : "odd")>
    
    @if (@Model.Character.User == null)
    {
        <td></td>
        <td></td>
    }
    else
    {
        if (span.HasValue && span.Value > 0)
        {
            <td rowspan="@span">@Model.Character.User.HiddenId</td>
            <td rowspan="@span">@Model.Character.User.Name</td>
        }
    }
    <td>@Model.Character.Name</td>
    <td>@Model.Character.Level</td>
    <td>@Model.Character.Class</td>
    <td>@Model.Character.Race</td>
    <td>@Model.Rank</td>
</tr>
